<!DOCTYPE HTML>

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>UFAR &mdash; French University in Armenia.am</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />


	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
	<!-- Theme style  -->

	<!-- Modernizr JS -->
	<!-- FOR IE9 below -->
	<script src="{{ url_for('static', filename='/js/modernizr-2.6.2.min.js') }}"></script>
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-xs-12">
					<div id="gtco-logo">
					<img src="{{ url_for('static', filename='/images/blue.png') }}" alt="Icon" style="width: 5px; height: auto; vertical-align: bottom; margin-right: -1px;">
					<img src="{{ url_for('static', filename='/images/red.png') }}" alt="Icon" style="width: 5px; height: auto; vertical-align: bottom; margin-right: -1px;">
					<a href="{{ url_for('index') }}">UFAR</a>
					</div>
				</div>
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
						<li><a href="#" data-nav-section="about">About</a></li>
						<li><a href="#" data-nav-section="practice-areas">Faculties</a></li>
						<li><a href="#" data-nav-section="our-team">Our Uni</a></li>
						<li class="btn-cta"><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<section id="gtco-hero" class="gtco-cover" style="background-image: url({{ url_for('static', filename='/images/profile.jpg') }}"  data-section="home"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeIn">The Greatest University You Can Trust</h1>
							<p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://www.youtube.com/watch?v=kwXxcGBykn8" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="gtco-about" data-section="about">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Welcome To Our Univercity page</h1>
					<p class="sub">The French University in Armenia (UFAR) is a higher educational institution established in 2000 within the framework of the agreement on cultural, scientific and technical cooperation between the governments of Armenia and France.</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
					<div class="img-shadow">
						<img src="{{ url_for('static', filename='/images/fone.png') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2 class="heading-colored">DOOR TO A BIG WORLD</h2>
					<p>The element that distinguishes UFAR is the connection with Europe and the world that the university creates for its students. By obtaining a double diploma - French (European) and Armenian, acquiring international knowledge and being in frequent contact with foreign professors, UFAR students benefit from strong international ties and enter the European reality. International development also comes from the ties that UFAR has with various structures uniting Francophone countries, such as the OIF (International Organization of the Francophonie), the AUF (University Agency of the Francophonie), territorial communities, Francophone agencies, etc.

						The strong relations between UFAR and its partner universities reinforce UFAR’s role as a true gateway to the world.</p>
					<p><a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-practice-areas" data-section="practice-areas">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Faculties</h1>
					<p class="sub">Jean Moulin Lyon 3 University (UJML) and Toulouse 3 Paul Sabatier University are historical academic partners of UFAR.</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Edu <span>Programs</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
						</div>
						<div class="gtco-copy">
							<h3>Law</h3>
							<p>To provide fundamental and solid knowledge of Armenian public law, private law, international law, and, starting from the third year, French law. This educational program is organized in collaboration with Jean Moulin Lyon 3 University.</p>
						</div>
					</div>

					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
						</div>
						<div class="gtco-copy">
							<h3>Marketing</h3>
							<p>To provide fundamental and advanced knowledge and skills in the fields of marketing, sales, management, and decision-making that will meet the standards of national and international professionals. This educational program is organized in partnership with Jean Moulin Lyon 3 University. </p>
						</div>
					</div>

					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
						</div>
						<div class="gtco-copy">
							<h3>Finance</h3>
							<p>To provide in-depth theoretical knowledge in the field of finance and economics, to prepare specialists in theoretical and practical fields who will specialize as economists, financial managers, banking and insurance specialists. This educational program is organized in collaboration with Jean Moulin Lyon 3 University. </p>
						</div>
					</div>

				</div>
				<div class="col-md-6">
					
					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
						</div>
						<div class="gtco-copy">
							<h3>Management</h3>
							<p>To provide in-depth theoretical knowledge in the field of management and economics, to prepare specialists in theoretical and practical fields who will specialize as economists, managers, and financial managers. This educational program is organized in collaboration with Jean Moulin Lyon 3 University.</p>
						</div>
					</div>

					<div class="gtco-practice-area-item animate-box">
						<div class="gtco-icon">
						</div>
						<div class="gtco-copy">
							<h3>Computer Science</h3>
							<p>To provide in-depth theoretical knowledge of programming, systems, networks, databases, machine architecture, through practical training (which makes up one third of the educational program) to introduce the foundations on which current and future methods, operations and tools are built, to prepare for entry into active life by guiding and providing professional skills. This educational program is organized in partnership with the University of Toulouse 3 Paul Sabatier.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gtco-our-team" data-section="our-team">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Our Uni</h1>
					<p class="sub">2900+ graduates
						Only 4% of graduates from 2005-2019 are actively looking for work
						More than 90% of those entering in 2021 did not know French. In 4 years they will have a B2 level of French</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Our UNI</p>
				</div>
			</div>
			<div class="row team-item gtco-team-reverse">
				<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
					<div class="img-shadow">
						<img src="{{ url_for('static', filename='/images/salvanakuzi.jpg') }}"  class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
					<h2>Salva Nakouzi</h2>
					<p>Armed with its 22 years of experience, the French University in Armenia has created an ambitious educational program based on the programs of the famous French universities Jean-Moulin Lyon 3 and Toulouse 3 Paul Sabatier. Thanks to this cooperation, UFAR students receive two diplomas: French and Armenian. UFAR graduates are Francophone, multilingual, they are experienced professionals in their field, who hold responsible positions in high-level enterprises and administrative structures, create their own enterprises or choose academic activities.</p>
				</div>
			</div>

			<div class="row team-item gtco-team">
				<div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
					<div class="img-shadow">
						<img src="{{ url_for('static', filename='/images/hashvapahutyun.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2>University administration</h2>
					<p>The Board of Trustees, being the highest administrative and supervisory body, implements the management of the French University in Armenia (UFAR) in accordance with its statutory powers. The Board of Trustees consists of representatives of the Ministries of Foreign Affairs of France and Armenia, the Ministry of Education, Science, Culture and Sports of the Republic of Armenia, Jean Moulin Lyon 3 University, representatives of the associative and private sectors. The Board of Trustees meets twice a year.</p>
					<p>The pedagogical and administrative management of the university is carried out by the French-Armenian team led by the Rector of the University of Yerevan, Mrs. Salva Nakouzi.
						The Management Committee is composed of the Rector, the Vice-Rector, the Director of Administration and Finance, and the Director of Academic Affairs. The meetings of the Management Committee are convened regularly.</p>
				</div>
			</div>

		</div>
	</section>

	<section id="gtco-contact" data-section="contact">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Contact Us</h1>
					<p class="sub">For the further information you can contact us via email.</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					<form action="#">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="text" class="form-control" placeholder="Name" id="name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="text" class="form-control" placeholder="Email" id="email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</form>
				</div>
				<div class="col-md-4 col-md-pull-6 animate-box">
					<div class="gtco-contact-info">
						<ul>
							<li class="address">Yerevan 0037
								Davit Anhaght 10</li>
							<li class="phone"><a href="tel://374249647">+ 374 (010) 249647</a></li>
							<li class="email"><a href="mailto:info@ufar.am">info@ufar.am</a></li>
							<li class="url"><a href="#">https://www.ufar.am/</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="gtco-footer" role="contentinfo">
		<div class="container">
			
			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2024 Educational Form </small> 
						<small class="block">Designed by a student of UFAR</small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
        <script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='/js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='/js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar -->
	<script src="{{ url_for('static', filename='/js/jquery.stellar.min.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static', filename='/js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/magnific-popup-options.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static', filename='/js/main.js') }}"></script>>

	</body>
</html>

